@import url("https://fonts.googleapis.com/css?family=Arvo");
* {
    font-family: "Arvo";
}
#root {
    height: 100vh;
}
body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* nav */
.navbar {
    height: 10vh;
    background-color: #e3f2fd;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbar .brand-name {
    color: #0d47a1;
}

/* body */
.body-row {
    height: 80vh;
}
.col-body-right {
    font-weight: 400;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #0d47a1;
    background-color: #8bc7f9;
}
.col-body-left {
}
.IOTStates {
    font-weight: 400;
    font-size: large;
}
.col-body-left .body-workoutstates {
    font-weight: 400;
    background-color: #42a5f5;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.col-body-left .tut-pos {
    height: 40vh;
    font-weight: 400;
    background-color: #42a5f5;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.col-body-middle {
    background-color: #bbdefb;
}
.pose-detect {
    z-index: 100;
    height: 80vh;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #1565c0;
}
.pose-detect .webcam {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* footer */
.footer {
    background-color: #1565c0;
    height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
