.profile-card-preview {
    background-color: #1d3557;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.profile-pic {
    margin-top: 1rem;
    height: 8rem;
    width: 8rem;
}
.badges {
    background-color: #1d3557;
    width: 8rem;
}
.badges .row > div {
    width: 2rem;
}

.badge-col {
    padding: 0;
}
.badge-col > img {
    height: 2rem;
    width: 2rem;
}
