.navbar-holder {
    background-color: #f1faee;
    height: 10vh;
}
.navbar {
    height: 5vh;
}

.brand-name-background {
    background-color: #d13440;
    box-shadow: #457b9d 0px 3px 6px, #1d3557 0px 3px 6px;
}
.brand-name {
    color: #ffffff;
}

.navbar .profile-card .dropdown-menu {
    width: 300px;
}
